<%- include("partials/header.ejs") %>
<h1 class="d-flex flex-wrap justify-content-center align-items-center">About Me</h1><hr>
<center><img class="profile" src="images/img1.jpg" alt="cat profile"></center>
<p class="desc">
    I am a third year undergraduate student of the Department of Computer Science and Engineering, Sagar Institute of Science Technology & Research, Bhopal, India. I was born in Vidisha, Madhya Pradesh.</p>
<p class="desc">
    On my way, I have learnt a range of Programming Languages such as C, C++, JAVA. I have learn Full Stack MERN Development such as HTML5, CSS, Bootstrap, javascript, node js, Express js</p>
<p class="desc">
    I like to travel. I believe travelling gives you a new perspective to everything. You get to know a lot about the different cultures, the cuisines, their history, the language and all the small unique things every place has to offer.</p>
<%- include("partials/footer.ejs") %>